<!DOCTYPE HTML>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="mystyle.css">
    	<title>
    	Page not found
    	</title>
    </head>
    <body>
    	<div id="board"> 404 </div>
    </body>	
</html>
